.grid {
    display: grid;
    gap: 5px;
  }
  
  .grid:first-child {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  
  .grid:last-child {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  
  .item:nth-child(odd) {
    background-color: rgb(82, 236, 149);
  }
  
  .item:nth-child(even) {
    background-color: rgb(236, 82, 120);
  }
  
  /*
  auto-fill은 빈 column이 생겨도 가능한 많이 채워넣는 것이고
  auto-fit은 element를 stretch해서 fit하는 것