.grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
    grid-auto-rows: 100px;
    margin-bottom: 25px;
  }
  
  .item:nth-child(odd) {
    background-color: rgb(82, 236, 149);
  }
  
  .item:nth-child(even) {
    background-color: rgb(236, 82, 120);
  }
  
  /*
  max-content : 컨텐츠에 딱 맞는 크기
  min-content : 가장 작게. 다만 글자 등이 깨지지 않는 선에서