.parent {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 200px 100px;
  column-gap: 15px;
  row-gap: 5px;
}

.child {
  background-color: palegreen;
  font-size: 45px;
  display: flex;
  justify-content: center;
}
